export TEST3_DB_DSN="postgres://test3awt:test3awt@localhost/test3awt?sslmode=disable"
export SMTP_HOST=sandbox.smtp.mailtrap.io
export SMTP_PORT=25
export SMTP_USERNAME=d120afa780d5b9
export SMTP_PASSWORD=d72ca97563008b
export SMTP_SENDER='Comments Community <no-reply@commentscommunity.tamikachen.net>'
